extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em")
    h2(style="text-align: center;") Welcome to News Media!
    p On the next page you will see a list of instructions on how to use this social media site.

    if user && !user.consent
      .ui.big.green.labeled.icon.button.info
          i.rocket.icon
          |   Got it!
  
  script.
    $('.ui.big.green.labeled.icon.button.info').on('click', function() {
        window.location.href = '/info';
      });